body {
  font-family: 'Assistant', sans-serif;
}

.bg-red {
  background-color: #dc3545;
  color: #fff;
}

.text-red {
  color: #dc3545;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../image/header.jpg");
  background-size: cover;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-getstarted {
  background-color: #dc3545;
  color: #fff;
}

header .btn-getstarted:hover {
  background-color: #fff;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.section-paket-pariwisata {
  padding-bottom: 30px;
}

.section-paket-pariwisata h1 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 800;
  font-size: 40px;
}

.section-paket-pariwisata p {
  font-family: 'Assistant', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.section-paket-content .section-paket-list .card-pariwisata {
  min-height: 380px !important;
  background-color: #ddd;
  color: #fff;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.section-paket-content .section-paket-list .card-pariwisata .card-pariwisata-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.35);
  color: white;
}

.section-paket-content .section-paket-list .card-pariwisata .card-pariwisata-overlay .pariwisata-country {
  font-size: 14px;
  font-weight: bold;
}

.section-paket-content .section-paket-list .card-pariwisata .card-pariwisata-overlay .pariwisata-location {
  font-size: 22px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 800;
}

.section-paket-content .section-paket-list .card-pariwisata .card-pariwisata-overlay .pariwisata-button {
  border-radius: 10px;
}

.section-paket-content .section-paket-list .card-pariwisata .card-pariwisata-overlay .pariwisata-button .btn-pariwisata-details {
  background-color: #dc3545;
  color: #fff;
}

.section-paket-content .section-paket-list .card-pariwisata .card-pariwisata-overlay .pariwisata-button .btn-pariwisata-details:hover {
  background-color: #fff;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.section-pelayanan-content {
  min-height: 550px;
  background-color: #dc3545;
  margin-top: 40px;
}

.section-pelayanan-content .section-list-pelayanan {
  color: #fff;
}

.section-pelayanan-content .section-list-pelayanan .section-title-pelayanan {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-pelayanan-content .section-list-pelayanan .section-title-pelayanan h1 {
  font-family: 'Playfair Disply',serif;
  font-weight: 800;
  font-size: 40px;
}

.section-pelayanan-content .section-list-pelayanan .section-title-pelayanan p {
  font-weight: lighter;
  font-size: 18px;
}

.section-pelayanan-content .section-list-pelayanan .icon-pelayanan {
  font-size: 50px;
}

.section-pelayanan-content .section-list-pelayanan .pelayanan-title {
  font-size: 20px;
  font-weight: 600;
}

.section-pelayanan-content .section-list-pelayanan .pelayanan-des {
  font-size: 18px;
  font-weight: lighter;
}

.section-galeri {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-galeri .section-judul-galeri {
  margin-bottom: 45px;
}

.section-galeri .section-judul-galeri h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
}

.section-galeri .section-judul-galeri p {
  font-family: "Assistant", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.section-footer {
  background-color: #dc3545;
  color: #fff;
}

.section-footer h5 {
  font-weight: bold;
  font-size: 20px;
}

.section-footer .icon-media-sosial, .section-footer a {
  font-size: 25px;
  color: #fff;
}

.section-footer .icon-media-sosial:hover, .section-footer a:hover {
  color: #C4C4C4;
}

.section-details-header {
  min-height: 310px;
  background: #D26262;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item {
  color: #ddd;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #ddd;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
  margin-bottom: 30px;
}

.section-details-content .card-details h1 {
  font-size: 24px;
}

.section-details-content .card-details h2 {
  font-size: 18px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  color: #071c4d;
}

.section-details-content .card-details .nb {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #000;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #dc3545;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .btn-whatsapp {
  background-color: #dc3545;
  color: #fff;
}

.section-details-content .btn-whatsapp:hover {
  background-color: #fff;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.section-details-content .btn-telpon {
  background-color: #C4C4C4;
  color: #000;
}

.section-details-content .btn-telpon:hover {
  background-color: #959595;
  color: #000;
}
/*# sourceMappingURL=main.css.map */